<h2>About Us</h2>

<p>Welcome to Sport of the Week. Here you can read blogs and articles regarding the latest news from a <br > 
variety of Sports within and beyond the American shores. <br >
<br >
My name is Kelvan and I am the creator of this site. I know there's not a lot to it right now <br >
but in time it should turn out quite nicely. <br >
<br >
I decided to build this site as it combines two personal interests of mine. Sports and web development. <br >
My belief is that a good sports analyst is able to look back on the predictios he or she made and compare them with the eventual outcome. <br >
The best sports analysts are able to present their findings in a manner which is both comprehensive and exciting for their audience. <br >
This site will offer this to you. <br >
<br >
If you are reading this then you are some of the first ever visitors to Sport of the Week. For this, I thank you so very much. <br >
<br >

</p>