<h2>About Us</h2>

<p>Welcome to Sport of the Week. Here you can read comprehensive articles regarding the latest news from a <br > 
variety of Sports within and beyond the American shores. <br >
<br >
My name is Kelvan and I am the creator of this site. I know there's not a lot to it right now <br >
but in time it should turn out quite nicely. <br >
<br >
I decided to build this site as it combines two personal interests of mine. Sport and web development. <br >

</p>