<head>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    
    <style>
        
        
    
        body {
        font-family: 'Indie Flower', cursive;
        color: #F5F5DC;
    }
    </style>

</head>

<body> 

<h2><strong>About Us</strong></h2>
    

<div><h3><strong>Welcome to Sport of the Week. Here you can read blogs and articles regarding the latest news from a variety of Sports within and beyond the American shores. <br >
<br >
My name is Kelvan and I am the creator of this site. I know there's not a lot to it right now <br >
but in time it should turn out quite nicely. <br >
<br >
I decided to build this site as it combines two personal interests of mine. Sports and web development. <br >
I believe the best sports analysts are able to present their findings in a manner which is both comprehensively accurate and engaging for their audience. <br >
I hope to offer you this service on my site. <br >
<br >
If you are reading this then you are one of the first ever visitors to Sport of the Week. For this, I thank you so very much. <br >
<br ></strong>

</h3>
</div>

</body>