body {
    
// Credit A little thing by @_ighosh
background: #003973; // fallback for old browsers 
background: -webkit-linear-gradient(to left, #003973 , #E5E5BE); // Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to left, #003973 , #E5E5BE); //  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  

}

navbar {

background: #757F9A; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}